.git
.gitignore
.venv
.env
.python-version
Dockerfile
docker-compose.yml
data/
tests/
_assets/
_untracked/
examples/
*.egg-info
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
uv.lock
*.md
!README.md
LICENSE